body {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
}


#padding {
    padding: 1rem;
}

header, main, footer {
    padding: 1.5rem;
}

header {
    /*Endret bakgrunnsfarge*/
    background-color: #827a7a;
    font-size: 1.25em;
    font-weight: 600;
    grid-area: header;
    align-items: baseline;
    justify-content: space-between;
}

header nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    font-size: 12px;
    padding-left: 0;
    padding-bottom: 1rem;
    color: black;
}

.navbar {
    z-index: 999;
}

#logo {
    text-decoration: none;
    color: #fff;
    font-style: italic;
    /*Øket skriftstørrelse*/
    font-size: 30px;

}

.icons {
    color: #fff;
    margin-top: auto;
    /*Større fontstørrelse på ikoner i header*/
    font-size: 22px;
}

.navbar {
    display: none;
    font-size: medium;
}

.responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    top: 40px;
    width: 100%;
    list-style: none;
}

.responsive a {
    color: rgba(21, 21, 21, 0.706);
    font-weight: 200;
    display: inline-block;
    padding: 1.5rem;
    text-decoration: none;
}

.img-size {
    max-width: 100%;
    height: auto;

}

h1 {
    font-size: 20px;
    font-weight: 100;
}

.obs {
    font-size: 12px;
    margin-top: 0;
}

.img-btn {
    position: relative;
    width: 100%;
}

.shop-now-btn {
    /*Lagt til "SHOP NOW"-knapp på hovedbildet i forsiden*/
    position: absolute;
    bottom: 30px;
    right: 15px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding: 0.5rem;
    height: 15px;
    width: 100px;
    text-align: center;
    float: right;
    background-color: rgba(21, 21, 21, 0.800);
}

.h2-news {
    font-size: 15px;
    margin-top: 4rem;
}

.h2-header {
    font-size: 15px;
}

.h3, .h4, .p {
    /*Øket skriftstørrelse*/
    font-size: 14px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.p {
    margin-bottom: 2rem;
}

/*Lagt h1 for overskrift "nike" og øket skriftstørrelse*/
.h1-nike {
    font-size: 25px;
}

/*Lagt h2 for overskrift "nike air max" og øket skriftstørrelse*/
.h2-nike-air-max {
    font-size: 15px;
}

/*Gjort om h2 til h1*/
.h1-header-help {
    font-size: 20px;
    margin-top: 2rem;
    /*Lagt til font-weight*/
    font-weight: bold;
}

/*Gjort om h3 til h2*/
.h2-header-help {
    font-size: 16px;
    margin-top: 3rem;
}

.p-help {
    font-size: 15px;
}

.p-help-2 {
    font-size: 15px;
    margin-bottom: 3rem;
}

.h5 {
    font-weight: 400;
}

.h3-related {
    padding: 0.5rem;
    margin: 0.5rem;
}

.h3-color {
    margin-top: 3rem;
}

main {
    grid-area: main;
}

main section img {
    width: 100%;
}

.left-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    /*Lagt til tekst for ikon og øket skriftstørrelse*/
    font-size: 16px;
}

.nike {
    text-decoration: none;
}

.shoe-info {
    display: inline-block;
}

.shoe-size {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    margin-left: 1rem;
}

.product {
    float: left;
    height: auto;
}

.product-shoe {
    text-decoration: none;
    color: black;
}

.product-details {
    background-color: #f7f7f7;
    padding: 1rem;
    margin: 2rem 0;
}

.product-info {
    padding-top: 3rem;
}

.delivery-info {
    background-color: #f7f7f7;
    padding: 1rem;
    margin: 1rem 0;
    width: 400px;
}

.safe-trade {
    display: flex;
    padding: 1rem;
    background-color: #f7f7f7;
    width: 400px;
}

.offer {
    display: inline-block;
    padding: 1rem 0;
    margin: 1rem 0;
    text-decoration: none;
    /*Endret bakgrunnsfarge for større kontrast*/
    background-color: #a29999;
    color: black;
    border-radius: 5px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    /*Øket skriftstørrelse*/
    font-size: 14px;
}

.read-more-btn, .sign-up-btn {
    display: inline-block;
    padding: 1rem;
    margin: 0.5rem;
    text-decoration: none;
    background-color: #D9D9D9;
    color: black;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    width: 50%;
    margin-left: 5rem;
    margin-top: 0;

}

.black-btn {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    background-color: black;
    color: #D9D9D9;
    border-radius: 5px;
    font-weight: 400;
    width: 50%;
    margin: 0.5rem 0;
}

.grey-btn {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    background-color: #D9D9D9;
    color: black;
    border-radius: 5px;
    font-weight: 400;
    width: 50%;
    margin: 0.5rem 0;
}

.buttons {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    background-color: #D9D9D9;
    color: black;
    font-weight: 550;
    border-radius: 5px;
    list-style: none;
    margin: 0.5rem 0;
    width: 50%;
    text-align: center;
    align-items: center;
    margin-left: 5rem;
}


.img {
    display: inline-block;
    grid-template-columns: auto auto auto;
    width: 40%;
    columns: 1;
}

.img2 {
    display: inline-block;
    grid-template-columns: auto auto auto;
    width: 25%;
    padding: 0.5rem;

}

.img3 {
    display: inline-block;
    grid-template-columns: auto auto auto;
    width: 40%;
    columns: 1;
}


.site-footer {
    /*Endret bakgrunnsfarge for større kontrast*/
    background-color: #5e5252;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0 0 0;
    margin: 0;
}

.help, .profile, .contact, .terms, .snkr, .social-media {
    text-decoration: none;
    list-style: none;
    padding: 1rem;
}

.fa-facebook, .fa-instagram {
    font-weight: 100;
    font-size: 40px;
    padding: 0.5rem;
    display: inline;
    float: left;
}

footer ul li a {
    list-style: none;
    color: #fff;
    text-decoration: none;
    display: flex;
    margin-right: 50px;
    padding: 0.5rem;
    font-size: 16px;
}

@media only screen and (min-width: 600px) {
    /* Fjernet navbav (kategorier under header) og lagt til i ham-meny. 
    .navbar {
        display: none;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
        margin: 0;
    }
    */

    .navigation {
        display: flex;
        font-size: medium;
        text-decoration: none;
    }

    body {
        align-items: center;
    }

    #grid-container {
        grid-template-areas: "header header header" "main main main" "footer footer footer";
        /*Lagt til rader og kolonner*/
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    /*"SHOP NOW"-knapp for hovedbildet på forsiden. Lagt til transparent bakgrunn og øket skriftstørrelse*/
    .shop-now-btn {
        position: absolute;
        bottom: 30px;
        right: 15px;
        background-color: black;
        color: white;
        text-decoration: none;
        font-size: 17px;
        padding: 0.5rem;
        height: 20px;
        width: 125px;
        text-align: center;
        float: right;
        background-color: rgba(21, 21, 21, 0.800);
    }
    
    .icons {
        justify-items: right;
    }

    .h1 {
        font-size: 40px
    }

    .shop-now-btn {
        margin-right: 1rem;
    }

    /*Bildestørrelse for screenshots i analyse.html*/
    .img-size {
        max-width: 50%;
        max-height: 50%;        
    }

    .product {
        float: left;
        width: 40%;
        height: auto;
        padding-right: 3rem;
    }

    .product-details {
        grid-template-columns: auto;
        /*Endret vidde*/
        width: 1220px;
    }

    .shoe-info {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .shoe-size {
        justify-content: space-between;
        width: 55%;
    }


    .safe-trade {
        display: flex;
        background-color: #f7f7f7;
        width: 400px;
    }

    .img {
        display: inline-block;
        padding: 1rem;
        width: 20%;
    }

    .img2 {
        display: inline-block;
        padding: 1rem 0;
        width: 10%;
    }

    .img3 {
        display: inline-block;
        padding: 1rem;
        width: 20%;
    }

    .buttons {
        padding: 1rem;
        width: 30%;
        align-self: center;
    }

    #medlem-lesmer {
        display: flex;
        align-items: center;
        margin-left: 8rem;
    }

    .read-more-btn, .sign-up-btn {
        display: flex;
        justify-content: center;
        padding: 1rem;
        width: 30%;
    }

    .site-footer {
        grid-area: footer;
    }

}